---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: 9b301c-prod

resources:
  - ../../base

generatorOptions:
  disableNameSuffixHash: true

patchesStrategicMerge:
  - config-map.yaml

patches:
  - target:
      kind: Deployment
      name: reporting-service
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: image-registry.openshift-image-registry.svc:5000/9b301c-tools/reporting-service:prod
      - op: replace
        path: /metadata/annotations/image.openshift.io~1triggers
        value: '[{"from": {"kind": "ImageStreamTag", "name": "reporting-service:prod", "namespace": "9b301c-tools"}, "fieldPath": "spec.template.spec.containers[?(@.name==\"reporting-service\")].image"}]'
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: 20m
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 350Mi
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: 50m
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 525Mi
  - target:
      kind: ConfigMap
      name: reporting-service
    patch: |-
      - op: replace
        path: /data/CHES_EMAIL_ENABLED
        value: "true"
      - op: replace
        path: /metadata/annotations/image.openshift.io~1triggers
        value: '[{"from": {"kind": "ImageStreamTag", "name": "reporting-service:prod", "namespace": "9b301c-tools"}, "fieldPath": "spec.template.spec.containers[?(@.name==\"reporting-service\")].image"}]'
      - op: replace
        path: /data/CHES_EMAIL_AUTHORIZED
        value: "true"
