---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: 9b301c-prod

resources:
  - ../../base

patches:
  - target:
      kind: Route
      name: editor-validator
    patch: |-
      - op: replace
        path: /spec/host
        value: mmi-editor-validator.apps.silver.devops.gov.bc.ca
  - target:
      kind: Deployment
      name: editor-validator
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: 20m
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 50Mi
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: 100m
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 100Mi
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: image-registry.apps.silver.devops.gov.bc.ca/9b301c-tools/editor:validator
      - op: replace
        path: /metadata/annotations/image.openshift.io~1triggers
        value: '[{"from": {"kind": "ImageStreamTag", "name": "editor:validator", "namespace": "9b301c-tools"}, "fieldPath": "spec.template.spec.containers[?(@.name==\"editor\")].image"}]'
