apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: 9b301c-prod
commonLabels:
  env: prod
resources:
  - ../../base
images:
  - name: image-registry.apps.silver.devops.gov.bc.ca/9b301c-tools/fileupload-service
    newTag: latest
patches:
  - target:
      kind: CronJob
      name: fileupload-service
    patch: |-
      - op: replace
        path: /spec/schedule
        value: "0 2 * * *"

