version: '3.5'

services:
  ####################### Nginx #######################
  nginx:
    image: tno:nginx
    restart: on-failure:1
    container_name: tno-nginx
    build:
      context: ./network/nginx
    env_file:
      - network/nginx/.env
    ports:
      - ${NGINX_HTTP_PORT:-50080}:80
      - ${NGINX_HTTPS_PORT:-50443}:443
    networks:
      - tno

  ####################### Database #######################
  database:
    image: tno:database
    restart: on-failure:1
    container_name: tno-database
    build:
      context: db/postgres
    env_file:
      - db/postgres/.env
    ports:
      - ${DATABASE_PORT:-50002}:5432
    volumes:
      - tno-database-data:/var/lib/postgresql/data
      - tno-database-sdata:/var/lib/postgressql/data
      - ./db/postgres/scripts:/docker-entrypoint-initdb.d
    networks:
      - tno

  ####################### Keycloak #######################
  keycloak:
    image: tno:keycloak
    restart: on-failure:1
    container_name: tno-keycloak
    build:
      context: ./auth/keycloak
    env_file:
      - auth/keycloak/.env
    volumes:
      - ./auth/keycloak/config/realm-export.json:/tmp/realm-export.json
    ports:
      - ${KEYCLOAK_HTTP_PORT:-50000}:8080
      - ${KEYCLOAK_HTTPS_PORT:-50001}:443
    depends_on:
      - database
    networks:
      - tno
    healthcheck:
      test: curl -s -f http://localhost:8080/auth/realms/tno || exit 1
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 15s

  ####################### Elasticsearch #######################
  elastic:
    image: tno:elastic
    restart: on-failure:1
    container_name: tno-elastic
    build:
      context: db/elasticsearch
    env_file:
      - db/elasticsearch/.env
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - ${ELASTIC_HTTP_PORT:-50007}:9200
      - ${ELASTIC_COM_PORT:-50008}:9300
    volumes:
      - tno-elastic-data:/usr/share/elasticsearch/data
    networks:
      - tno
    # healthcheck:
    #   test: ["CMD", "curl", "-f", "-u '$$ELASTIC_USERNAME:$$ELASTIC_PASSWORD'", "http://localhost:9200/_cat/health"]
    #   # test: curl -f -u '${ELASTIC_USERNAME}:${ELASTIC_PASSWORD}' http://localhost:9200/_cat/health
    #   interval: 1m
    #   timeout: 10s
    #   retries: 3
    #   start_period: 15s

  ####################### Azure Storage #######################
  azure-storage:
    image: tno:azure-storage
    restart: on-failure:1
    container_name: tno-azure-storage
    build:
      context: db/azure-storage
    env_file:
      - db/azure-storage/.env
    ports:
      - ${AZURE_BLOB_PORT:-50020}:10000
      - ${AZURE_QUEUE_PORT:-50021}:10001
      - ${AZURE_TABLE_PORT:-50022}:10002
    volumes:
      - tno-azure-storage-data:/data
    networks:
      - tno

  ####################### API - Editor #######################
  api-editor:
    image: tno:api-editor
    restart: on-failure:1
    container_name: tno-api-editor
    build:
      context: api/editor
    env_file: api/editor/api-editor/src/main/resources/.env
    ports:
      - ${API_EDITOR_HTTP_PORT:-50003}:8080
      - ${API_EDITOR_HTTPS_PORT:-50004}:443
    depends_on:
      - database
      - keycloak
    networks:
      - tno
    healthcheck:
      test: curl -s -f http://localhost:8080/health
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 15s

  ####################### App - Editor #######################
  app-editor:
    image: tno:app-editor
    stdin_open: true
    tty: true
    restart: on-failure:1
    container_name: tno-app-editor
    build:
      context: app/editor
    env_file: ./app/editor/.env
    volumes:
      - ./app/editor/src:/usr/app/src
      - ./app/editor/public:/usr/app/public
      - tno-editor-node-cache:/usr/app/node_modules
    ports:
      - ${APP_EDITOR_HTTP_PORT:-50005}:3000
      - ${APP_EDITOR_HTTPS_PORT:-50006}:3443
    depends_on:
      - api-editor
    networks:
      - tno

  ####################### App - Subscriber #######################
  app-subscriber:
    image: tno:app-subscriber
    stdin_open: true
    tty: true
    restart: on-failure:1
    container_name: tno-app-subscriber
    build:
      context: app/subscriber
    env_file: ./app/subscriber/.env
    volumes:
      - ./app/subscriber/src:/usr/app/src
      - ./app/subscriber/public:/usr/app/public
      - tno-subscriber-node-cache:/usr/app/node_modules
    ports:
      - ${APP_SUBSCRIBER_HTTP_PORT:-50050}:3000
      - ${APP_SUBSCRIBER_HTTPS_PORT:-50051}:3443
    depends_on:
      - api-editor
    networks:
      - tno

####################### Volumes Definition #######################
volumes:
  tno-database-data:
    name: tno-database-data
  tno-database-sdata:
    name: tno-database-sdata
  tno-elastic-data:
    name: tno-elastic-data
  tno-editor-node-cache:
    name: tno-editor-node-cache
  tno-subscriber-node-cache:
    name: tno-subscriber-node-cache

  tno-azure-storage-data:
    name: tno-azure-storage-data
