---
# Configuration settings
kind: ConfigMap
apiVersion: v1
metadata:
  name: image-service
  namespace: default
  annotations:
    description: Image service configuration settings
    created-by: jeremy.foster, alessia.yanchen
  labels:
    name: image-service
    part-of: tno
    version: 1.0.0
    component: image-service
    managed-by: kustomize
type: Opaque
data:
  MAX_FAIL_LIMIT: "5"
  VOLUME_PATH: /data
  KEY_PATH: ../keys
  TOPICS: ""
  CHES_EMAIL_ENABLED: "true"
  CHES_EMAIL_AUTHORIZED: "true"
