---
# Configuration settings
kind: ConfigMap
apiVersion: v1
metadata:
  name: filecopy-service
  namespace: default
  annotations:
    description: Transcription service configuration settings
    created-by: jeremy.foster
  labels:
    name: filecopy-service
    part-of: tno
    version: 1.0.0
    component: filecopy-service
    managed-by: kustomize
type: Opaque
data:
  KAFKA_CLIENT_ID: FileCopy
  MAX_FAIL_LIMIT: "5"
  TOPICS: file-request
  VOLUME_PATH: /data
  CHES_EMAIL_ENABLED: "true"
  CHES_EMAIL_AUTHORIZED: "true"
