---
# Keycloak configuration settings.
kind: ConfigMap
apiVersion: v1
metadata:
  name: editor-sso
  namespace: default
  annotations:
    description: Keycloak client JSON configuration
  labels:
    name: editor-app
    part-of: tno
    version: 1.0.0
    component: editor
    managed-by: kustomize
    created-by: jeremy.foster
data:
  keycloak.json: '{
    "realm": "standard",
    "auth-server-url": "https://dev.loginproxy.gov.bc.ca/auth",
    "ssl-required": "external",
    "resource": "media-monitoring-mmia-3671",
    "public-client": true,
    "confidential-port": 0
    }'
