# Environment
ENV=test
APP_NAME=qa
CI=false
HEADLESS=false
TEST_TIMEOUT=300000
ACTION_TIMEOUT=30000

# URLs
EDITOR_URL=https://test.editor.mmi.gov.bc.ca/
SUBSCRIBER_URL=https://test.mmi.gov.bc.ca/
API_BASE_URL=

# Editor IDIR user
APP_USERNAME=
APP_PASSWORD=

# Subscriber IDIR user
SUB_USERNAME=
SUB_PASSWORD=

# Subscriber "Other" user
SUB_USERNAME1=
SUB_PASSWORD1=

# Optional email report settings
MAIL_USER=
MAIL_PASSWORD=
MAIL_TO=
