# Environment
ENV=test
APP_NAME=qa
CI=false
HEADLESS=false
TEST_TIMEOUT=300000
ACTION_TIMEOUT=30000

# URLs
EDITOR_URL=https://test.editor.mmi.gov.bc.ca/
SUBSCRIBER_URL=https://test.mmi.gov.bc.ca/
API_BASE_URL=

# Editor "Other" MMI user
APP_USERNAME=
APP_PASSWORD=

# Subscriber "Other" MMI user
SUB_USERNAME=
SUB_PASSWORD=

# Second subscriber "Other" MMI user
SUB_USERNAME1=
SUB_PASSWORD1=

# MAIL_TO is used by report preview email testsso
MAIL_TO=

# Optional Email settings
# MAIL_USER and MAIL_PASSWORD are only required when sending Playwright/Allure reports by email.
MAIL_USER=
MAIL_PASSWORD=
