
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/playwright/.local-browsers/
/playwright/screenshots/
playwright/videos/
playwright/traces/
playwright/test-results/
playwright/report/


