---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - services-config-map.yaml
  - ches-config-map.yaml
  # KGM - removed as un-used
  # - pvc.yaml

generatorOptions:
  disableNameSuffixHash: true

# KGM - removed as un-used
# secretGenerator:
#   - name: ssh-key
#     type: stringData
#     files:
#       - id_rsa=secret.env
