# Configuration settings
kind: ConfigMap
apiVersion: v1
metadata:
  name: services
  namespace: default
  annotations:
    description: Service configuration settings
    created-by: jeremy.foster
  labels:
    name: services
    part-of: tno
    version: 1.0.0
    component: services
    managed-by: kustomize
data:
  API_HOST_URL: http://api:8080

  KEYCLOAK_AUTHORITY: https://dev.loginproxy.gov.bc.ca/auth
  KEYCLOAK_AUDIENCE: mmia-service-account-3994

  KAFKA_BOOTSTRAP_SERVERS: kafka-broker-0.kafka-headless:9092,kafka-broker-1.kafka-headless:9092,kafka-broker-2.kafka-headless:9092,kafka-broker-3.kafka-headless:9092

  DATA_LOCATION: Openshift

  EMAIL_FAILURE_TO: jeremy.foster@fosol.ca
