apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: 9b301c-dev
commonLabels:
  env: dev
resources:
  - ../../base
images:
  - name: image-registry.apps.silver.devops.gov.bc.ca/9b301c-tools/fileupload-service
    newTag: latest
patches:
  - target:
      kind: CronJob
      name: fileupload-service
    patch: |-
      - op: replace
        path: /spec/schedule
        value: "0 2 * * *"     # run once a day at 2 AM UTC
  - target:
      kind: ConfigMap
      name: fileupload-service
    patch: |-
      - op: replace
        path: /data/DAYS_BEFORE_START
        value: "365"
      - op: replace
        path: /data/DAYS_BEFORE_END
        value: "1"

