---
# Configuration settings
kind: ConfigMap
apiVersion: v1
metadata:
  name: capture-service
  namespace: default
  annotations:
    description: Capture service configuration settings
    created-by: jeremy.foster
  labels:
    name: capture-service
    part-of: tno
    version: 1.0.0
    component: capture-service
    managed-by: kustomize
type: Opaque
data:
  MAX_FAIL_LIMIT: "5"
  VOLUME_PATH: /data
  CHES_EMAIL_ENABLED: "true"
  CHES_EMAIL_AUTHORIZED: "true"
