---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: 9b301c-prod

resources:
  - ../../base

patches:
  - target:
      kind: ConfigMap
      name: api
    patch: |-
      - op: replace
        path: /data/KEYCLOAK_AUTHORITY
        value: https://dev.loginproxy.gov.bc.ca/auth/realms/standard
      - op: replace
        path: /data/CSS_ENVIRONMENT
        value: dev
      - op: replace
        path: /data/CSS_AUTHORITY
        value: https://loginproxy.gov.bc.ca
      - op: replace
        path: /data/REPORTING_SUBSCRIBER_URL
        value: https://mmi.gov.bc.ca
      - op: replace
        path: /data/REPORTING_VIEW_CONTENT_URL
        value: https://mmi.gov.bc.ca/view/
      - op: replace
        path: /data/REPORTING_REQUEST_TRANSCRIPT_URL
        value: https://mmi.gov.bc.ca/api/subscriber/work/orders/transcribe/
  - target:
      kind: Route
      name: api-editor
    patch: |-
      - op: replace
        path: /spec/host
        value: tno.apps.silver.devops.gov.bc.ca
  - target:
      kind: Route
      name: api-editor-0
    patch: |-
      - op: replace
        path: /spec/host
        value: tno-0.apps.silver.devops.gov.bc.ca
  - target:
      kind: Route
      name: api-editor-1
    patch: |-
      - op: replace
        path: /spec/host
        value: tno-1.apps.silver.devops.gov.bc.ca
  - target:
      kind: Route
      name: api-editor-2
    patch: |-
      - op: replace
        path: /spec/host
        value: tno-2.apps.silver.devops.gov.bc.ca
  - target:
      kind: Route
      name: api-subscriber
    patch: |-
      - op: replace
        path: /spec/host
        value: mmi.apps.silver.devops.gov.bc.ca
  - target:
      kind: Route
      name: api-subscriber-0
    patch: |-
      - op: replace
        path: /spec/host
        value: mmi-0.apps.silver.devops.gov.bc.ca
  - target:
      kind: Route
      name: api-subscriber-1
    patch: |-
      - op: replace
        path: /spec/host
        value: mmi-1.apps.silver.devops.gov.bc.ca
  - target:
      kind: Route
      name: api-subscriber-2
    patch: |-
      - op: replace
        path: /spec/host
        value: mmi-2.apps.silver.devops.gov.bc.ca
  - target:
      kind: Route
      name: api-editor-tls
    patch: |-
      - op: replace
        path: /spec/host
        value: editor.mmi.gov.bc.ca
  - target:
      kind: Route
      name: api-subscriber-tls
    patch: |-
      - op: replace
        path: /spec/host
        value: mmi.gov.bc.ca
  # - target:
  #     kind: DeploymentConfig
  #     name: api
  #   patch: |-
  #     - op: replace
  #       path: /spec/replicas
  #       value: 3
  #     - op: replace
  #       path: /spec/template/spec/containers/0/resources/requests/cpu
  #       value: 100m
  #     - op: replace
  #       path: /spec/template/spec/containers/0/resources/requests/memory
  #       value: 150Mi
  #     - op: replace
  #       path: /spec/template/spec/containers/0/resources/limits/cpu
  #       value: 500m
  #     - op: replace
  #       path: /spec/template/spec/containers/0/resources/limits/memory
  #       value: 1536Mi
  #     - op: replace
  #       path: /spec/triggers/1/imageChangeParams/from/name
  #       value: api:prod
  - target:
      kind: StatefulSet
      name: api
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: 100m
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 350Mi
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: 500m
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 1536Mi
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: image-registry.openshift-image-registry.svc:5000/9b301c-tools/api:prod
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: image-registry.openshift-image-registry.svc:5000/9b301c-tools/api:prod
