---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: 9b301c-dev

resources:
  - ../../base

patches:
  - target:
      kind: Deployment
      name: psql
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: image-registry.apps.silver.devops.gov.bc.ca/9b301c-tools/psql:dev
