---
# Configuration settings
kind: ConfigMap
apiVersion: v1
metadata:
  name: indexing-service
  namespace: default
  annotations:
    description: Indexing and publishing service configuration settings
    created-by: jeremy.foster
  labels:
    name: indexing-service
    part-of: tno
    version: 1.0.0
    component: indexing-service
    managed-by: kustomize
type: Opaque
data:
  KAFKA_CLIENT_ID: Indexing
  MAX_FAIL_LIMIT: "5"
  TOPICS: index
  ELASTICSEARCH_URI: http://elastic:9200
  UNPUBLISHED_INDEX: unpublished_content
  PUBLISHED_INDEX: content
  NOTIFICATION_TOPIC: notify
  CHES_EMAIL_ENABLED: "true"
  CHES_EMAIL_AUTHORIZED: "true"
