---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: 9b301c-dev

resources:
  - ../../base

patches:
  - target:
      kind: Route
      name: charts-api
    patch: |-
      - op: replace
        path: /spec/host
        value: tno-charts-api-dev.apps.silver.devops.gov.bc.ca
  - target:
      kind: Deployment
      name: charts-api
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: image-registry.apps.silver.devops.gov.bc.ca/9b301c-tools/charts-api:dev
      - op: replace
        path: /spec/replicas
        value: 1
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 50Mi
