---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: 9b301c-dev

resources:
  - ../../base

generatorOptions:
  disableNameSuffixHash: true

secretGenerator:
  - name: azure-speech-services
    type: stringData
    env: azure.env
  - name: azure-openai
    type: stringData
    env: openai.env

patches:
  - target:
      kind: Deployment
      name: auto-clipper-service
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: 20m
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 100Mi
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: 50m
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 300Mi
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: image-registry.openshift-image-registry.svc:5000/9b301c-tools/auto-clipper-service:dev
