body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'BC Sans', 'Noto Sans', Arial, 'sans serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

*, *::before, *::after {
  box-sizing: border-box;
}
