@import './css/_colors';

body {
  margin: 0;
}

body,
button,
input,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'BC Sans', 'Noto Sans', Arial, 'sans serif';
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h2 {
  font-size: 1em;
}

.caps {
  text-transform: uppercase;
}

// *************************************************
// Tooltip Customization
// *************************************************

.type-light.place-top {
  padding: 2px 5px 2px 5px;
  border: solid 1px $primary-color;

  &:after {
    border-top: 5px solid $primary-color !important;
  }
}
.type-light.place-left {
  padding: 2px 5px 2px 5px;
  border: solid 1px $primary-color;

  &:after {
    border-left: 5px solid $primary-color !important;
  }
}
.type-light.place-right {
  padding: 2px 5px 2px 5px;
  border: solid 1px $primary-color;

  &:after {
    border-right: 5px solid $primary-color !important;
  }
}
.type-light.place-bottom {
  padding: 2px 5px 2px 5px;
  border: solid 1px $primary-color;

  &:after {
    border-bottom: 5px solid $primary-color !important;
  }
}

// *************************************************
// Forms
// *************************************************

.frm-in {
  padding-bottom: 1em;
  
  label {
    padding-right: 1em;
    display: block;
    font-weight: bold;
  }

  &.chk {
    padding-bottom: 0;

    label:not(:first-child) {
      display: inline;
      font-weight: normal;
    }
  }
  
  &.rad {
    label:not(:first-child) {
      display: inline;
      font-weight: normal;
    }
  }
}

.box {
  border: solid 1px grey;
  border-radius: 0.25em;
  padding: 1em;
}
