@import './css/_colors';

body {
  margin: 0;
}

body,
button,
input,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'BCSans', 'Noto Sans', Arial, 'sans serif';
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[disabled] {
  color: hsl(0, 0%, 50%);
  background-color: hsl(0, 0%, 95%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p {
  margin: 0.5em 0 0.5em 0;
}

h1 {
  font-size: 2em;
  text-transform: uppercase;
  margin-top: 0;
}

h2 {
  font-size: 1.25em;
  text-transform: uppercase;
  margin-top: 0;
}

h3 {
  font-size: 1em;
  text-transform: uppercase;
  margin-top: 0;
}

h4 {
  font-size: 0.75em;
  text-transform: uppercase;
  margin-top: 0;
}

.caps {
  text-transform: uppercase;
}

// *************************************************
// Tooltip Customization
// *************************************************
.type-light.place-top {
  padding: 2px 5px 2px 5px;
  border: solid 1px $primary-color;

  &:after {
    border-top: 5px solid $primary-color !important;
  }
}

.type-light.place-left {
  padding: 2px 5px 2px 5px;
  border: solid 1px $primary-color;

  &:after {
    border-left: 5px solid $primary-color !important;
  }
}

.type-light.place-right {
  padding: 2px 5px 2px 5px;
  border: solid 1px $primary-color;

  &:after {
    border-right: 5px solid $primary-color !important;
  }
}

.type-light.place-bottom {
  padding: 2px 5px 2px 5px;
  border: solid 1px $primary-color;

  &:after {
    border-bottom: 5px solid $primary-color !important;
  }
}

// *************************************************
// Forms
// *************************************************
.frm-in {
  padding-bottom: 0.5em;

  label {
    font-weight: bold;
  }

  &.chk {
    padding-bottom: 0em;

    label {
      cursor: pointer;
    }
  }

  &.chg {
    padding-bottom: 0;

    label:not(:first-child) {
      display: inline;
      font-weight: normal;
    }
  }

  &.rag {
    label:not(:first-child) {
      display: inline;
      font-weight: normal;
    }
  }
}

// *************************************************
// Modal
// *************************************************
.modal {
  .modal-quill {
    .ql-editor {
      resize: both;
      max-height: 500px;
      max-width: 100%;
      min-width: 100%;
    }
  }
}