---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deploy.yaml
  - service.yaml
  - route-editor.yaml
  - route-subscriber.yaml

generatorOptions:
  disableNameSuffixHash: true
