---
# Configuration settings
kind: ConfigMap
apiVersion: v1
metadata:
  name: content-service
  namespace: default
  annotations:
    description: Audio Capture service configuration settings
    created-by: jeremy.foster
  labels:
    name: content-service
    part-of: tno
    version: 1.0.0
    component: content-service
    managed-by: kustomize
type: Opaque
data:
  KAFKA_CLIENT_ID: Content
  MAX_FAIL_LIMIT: "5"
  UNPUBLISHED_INDEX: unpublished_content
  PUBLISHED_INDEX: content
  NOTIFICATION_TOPIC: ""
  CHES_FROM: Media Monitoring Insights <mmi@gov.bc.ca>
  CHES_EMAIL_ENABLED: "true"
  CHES_EMAIL_AUTHORIZED: "true"
