kind: ConfigMap
apiVersion: v1
metadata:
  name: kowl
  namespace: default
  annotations:
    description: Keycloak client JSON configuration
  labels:
    name: kowl
    part-of: tno
    version: 1.0.0
    component: kowl
    managed-by: kustomize
    created-by: jeremy.foster
data:
  config.yaml: |+
    kafka:
      brokers:
        - kafka-headless:29092
