---
# Configuration settings
kind: ConfigMap
apiVersion: v1
metadata:
  name: syndication-service
  namespace: default
  annotations:
    description: Audio Capture service configuration settings
    created-by: jeremy.foster
  labels:
    name: syndication-service
    part-of: tno
    version: 1.0.0
    component: syndication-service
    managed-by: kustomize
type: Opaque
data:
  MAX_FAIL_LIMIT: "5"
  CHES_EMAIL_ENABLED: "true"
  CHES_EMAIL_AUTHORIZED: "true"
  SEND_EMAIL_ON_FAILURE: "true"
