---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: 9b301c-prod

resources:
  - ../../base

generatorOptions:
  disableNameSuffixHash: true

patches:
  - target:
      kind: ConfigMap
      name: contentmigration-historic-service
    patch: |-
      - op: replace
        path: /data/GENERATE_ALERTS_ON_CONTENT_MIGRATION
        value: "false"
  - target:
      kind: Deployment
      name: contentmigration-historic-service
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: 25m
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 128Mi
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: 150m
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 350Mi
      - op: replace
        path: /spec/template/spec/containers/0/env/0/value
        value: Production
      - op: replace
      path: /metadata/annotations/image.openshift.io~1triggers
      value: '[{"from": {"kind": "ImageStreamTag", "name": "contentmigration-historic:prod", "namespace": "9b301c-tools"}, "fieldPath": "spec.template.spec.containers[?(@.name==\"contentmigration-historic\")].image"}]'
