---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: 9b301c-dev

resources:
  - ../../base

generatorOptions:
  disableNameSuffixHash: true

secretGenerator:
  - name: azure-cognitive-services
    type: stringData
    env: azure.env

patches:
  - target:
      kind: DeploymentConfig
      name: transcription-service
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: 20m
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 80Mi
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: 75m
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 300Mi
      - op: replace
        path: /spec/triggers/1/imageChangeParams/from/name
        value: transcription-service:dev
